.as:nth-child(odd){
    background-color: gray;
}
table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 15px;
    text-align: center;
}
#sc{
    font-style: italic;
}
#cs {
    text-align: center;
    font-size: 22px;
}
#m {
    text-align: center;
}
thead {
    text-align: center;
    background-color: greenyellow;
    color: purple;
    font-weight: 600;
}
.nu {
    text-align: right;
}

@media (min-width: 992px) {
    th {
        font-size: 130%;
    }
    td {
        font-size: 120%;
    }
}
@media (min-width: 768px) and (max-width: 991.99px) {
    th {
        font-size: 120%;
    }
    td {
        font-size: 110%;
    }
    }
@media (max-width: 767.99px) {
    th {
        font-size: 110%;
    }
}