ul :nth-child(odd){
    background-color: gray;
}
ol :nth-child(3){
    cursor: pointer;
}
ol :nth-child(4){
    background-color: orange;
    opacity: .7;
}
ol :nth-child(5){
    cursor: pointer;
}
#sn{
    font-style: italic;
}
#cn {
    text-align: center;
    font-size: 22px;
}
.rr {
    text-align: center;
}

@media (min-width: 992px) {
    .bob {
        flex-direction: row;
    }
    .col-lg-4 {
        width: 33.33%;
    } 
}
@media (min-width: 768px) and (max-width: 991.99px) {
    .col-md-6 {
        width: 50%;
    }
}
@media (max-width: 767.99px) {
    .col-sm-12 {
        width: 100%;
    }
}