#nx {
    text-align: center;
    font-size: 20px;
}
#sx{
    font-style: italic;
}
#ax{
    text-align: center;
}
#bx{
    text-align: center;
    font-size: 70%;
}
#cx{
    text-align: center;
    font-size: 130%;
}
#dx{
    text-align: center;
    font-size: 160%;
}

@media(min-width:992px){
    div {
        display: flex;
       }
    h3 {
    align-self: baseline;
    margin: 5px;
    flex: 1;
       }
    img {
    width: 80%;
    height: 70%;
       }
    }
@media(min-width:768px) and (max-width:991.99px){
    div {
    display: flex;
    flex-wrap: wrap;
       }
    h3 {
    margin: 5px;
    align-self: baseline;
    flex: 1 320px;
       }
    img {
    width: 80%;
    height: 70%;
       }
    }
@media (max-width: 767.99px) {
    div { 
    flex-direction: column;
    }
    }