ul li {
    list-style: none;
}
.ttt a:link , a:visited {
    text-decoration: none;
    background-color: blue;
    border: 2px solid rgb(63, 63, 63);
    color: black;
    display: block;
    width: 200px;
    text-align: center;
    margin-bottom: 3px;
}
.ttt a:hover {
    background-color: magenta;
    color: white;
}
.ttt a:active {
    background-color: yellow;
    color: rgb(0, 195, 255);
}
#item1 {
    background-color: brown;
    color: black;
    font-size: 120%;
}
#item2 {
    background-color: blueviolet;
    color: lime;
    font-size: 120%;
}
#item3 {
    background-color: aquamarine;
    color: orange;
    font-size: 120%;
}
#item4 {
    background-color: seagreen;
    color: white;
    font-size: 120%;
}
#item5 {
    background-color: cornflowerblue;
    color: yellow;
    font-size: 120%;
}
.q{
    text-align: center;
    font-size: 22px;
}
#s{
    font-style: italic;
}
.u {
    font-size: 120%;
}
#o {
    text-align: center;
}
.zm {
    font-weight: 600;
}
#uv {
    text-transform: uppercase;
}

.item {
    border: 1px solid black;
    text-align: center;
    margin: 5px;
}
@media (min-width: 992px) {
    .bib {
        display: flex;
        flex-wrap: wrap;
    }
    .col-lg-4 {
        width: 33.33%;
    }
    .col-lg-6 {
        width: 50%;
    } 
}
@media (min-width: 768px) and (max-width: 991.99px) {
        .bib {
            display: flex;
            flex-wrap: wrap;
        }
        .col-md-6 {
            width: 50%;
        }
        .col-md-12 {
            width: 100%;
        }
    }
@media (max-width: 767.99px) {
        .bib {
            display: flex;
            flex-wrap: wrap;
        }
        .col-sm-12 {
            width: 100%;
        }
}