#biography a:link {
    color: lightskyblue;
  }
  #biography a:visited {
    color: lightseagreen;
  }

  #nowadays a:link {
    color: seagreen;
  }
  #nowadays a:visited{
    color: #a7fe0d;
  }

  #friends a:link {
    color: rgb(226, 185, 0);
  }
  #friends a:visited {
    color: purple;
  }

  #gallery a:link {
    color: orange;
  }
  #gallery a:visited{
    color: #4a8892;
  }
  h2 {
    text-align: center;
    font-size: 24px;
  }
  #w {
    font-size: 120%;
  }

@media (min-width: 992px) {
    .bob {
        display: flex;
        flex-direction: row;
    }
    .col-lg-4 {
        width: 33.33%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
        .bob {
            display: flex;
            flex-wrap: wrap;
        }    
        .col-md-6 {
            width: 50%;
        }
    }
@media (max-width: 768px) {
        .bob {
            display: flex;
            flex-direction: column;
        } 
        .col-sm-12 {
            width: 100%;
        }
    }